footer {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #cccccc;
  justify-content: center;
  height: 60px;
}

.footer-text {
  color: #000;
  line-height: 30px;
  text-align: center;
}
