header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

.header-logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: contain;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  display: inline-block;
}
