section.filters {
  color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

section.filters .search-button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #fff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-left: 30px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

section.filters .search-button:hover {
  opacity: 0.9;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  padding: 10px;
  float: left;
  color: #000;
}

.locations {
  border-right: 1px #dddddd;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 30px;
  text-align: left;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  text-align: left;
}
