/*
* ============================
* Places section
* ============================
*/

section.places {
  text-align: center;
}

section.places h1 {
  font-size: 30px;
  text-align: left;
  margin: 10px;
}

section.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
}

section.places article h2 {
  font-size: 30px;
  text-align: center;
}
